sounddevice
google-genai
google-generativeai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright          
pyautogui
pyperclip
pygetwindow       
keyboard
yt-dlp
opencv-python
numpy
mss
Pillow
psutil
comtypes
pycaw               
win10toast          
send2trash
youtube-transcript-api
pywinauto
python-pptx
pyqt6
pyaudio
pyttsx3
pynacl
wmi
davey
discord.py
schedule
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
anthropic
openai
matplotlib
plotly
paho-mqtt
replicate
scikit-learn
sqlparse
flask
requests-oauthlib
pandas
pillow-heif
twilio
pyngrok
