sounddevice
google-genai
google-generativeai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright
pyperclip
yt-dlp
opencv-python-headless
numpy
mss
psutil
send2trash
youtube-transcript-api
python-pptx
pyttsx3
pynacl
davey
discord.py
schedule
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
anthropic
openai
matplotlib
plotly
paho-mqtt
replicate
scikit-learn
sqlparse
flask
requests-oauthlib
pandas
pillow-heif
twilio
pyngrok
